[credential]
	helper = manager.core
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	editor = code --wait
	autocrlf = input
[user]
	name = Diego López torres
	email = diego@diegopher.dev
[init]
	defaultBranch = main
[pull]
	rebase = true
[includeIf "gitdir:/home/diegopher/Documents/exhio/"]
	path = ~/.gitconfig-work